.profile__info {
    color: #fff;
    padding-left: 30px;
    width: 336px; 
}

@media screen and (max-width: 896px) {
    .profile__info {
        width: 220px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        width: 282px;
        padding-left: 0;
    }
}