.footer {
    color: #545454;
    padding-top: 66px;
    padding-bottom: 60px;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 896px) {
    .footer {
        max-width: 581px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 282px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}